<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Date quiz / puzzle, meant for printing.">
    <meta name="Keywords" content="history, quiz, puzzle, paul clarke, pauly">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="theme-color" content="#ded">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@pauly">
    <meta name="twitter:creator" content="@pauly">
    <meta name="twitter:url" content="https://paulypopex.gitlab.io/dates/#">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.title %>">
    <link rel="canonical" href="https://paulypopex.gitlab.io/holiday-reminder/">
    <style>
      body{margin:0;font-size:1.2em}
      h1,h2,html{font-family:arial,verdana,sans-serif;font-size:1em}
      div,form{border:1px #ddd solid;border-radius:15px;line-height:1.5em;margin:1em;padding:0 1em;background-color:#f9f9f9;max-width:100%}
      p{margin:1em 0}
      a{font-weight:700;color:#60c;margin:1em 1em 1em 0;text-decoration:none}
      h2{background:linear-gradient(#ded,#f9f9f9);border:1px solid #ddd;border-bottom:0;font-size:1.1em;margin:-1px -20px 0;padding:.5em .5em .5em 1em;border-radius:15px 15px 0 0}
      body>h1,
      form>label {
        display: block;
      }
      button {
        color: #fff;
        background-color: #60c;
        font-size: 1.2em;
        border: 1px #ddd solid;
        border-radius: 10px;
      }
      button, input {
        line-height: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
        margin: 0.5em 0 0.5em;
      }
      ul, li {
        list-style: none;
        padding: 0 0 0.5em 0;
      }
      table {
        border-collapse; collapse;
        border: 1px solid #000;
      }
      td,
      th {
        border: 1px solid #000;
        height: 2em;
        width: 2em;
        text-align: center;
      }
      #grid table {
        width: 100%;
      }
      #answer table {
        margin-top: 1em;
        display: inline-table;
      }
      @media print {
        #instructions {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div>
      <h1><a href="#"><%= htmlWebpackPlugin.options.title %></a></h1>
    </div>
    <form action="#">
      <p>Enter your phrase:
        <input id="phrase" placeholder="Type your answer here" />
        <input id="cols" size="2" value="10" />
        x
        <input id="rows" size="2" value="6" />
        grid will appear below.
        This bit will not print and will not show if you share the link above.
      </p>
    </form>
    <div id="grid"></div>
    <div id="answer"></div>
    <div id="instructions">
      <ul>
        <li><a href="javascript:window.print()" data-role="button">Print me</a></li>
        <li>By <a href="http://www.clarkeology.com/blog/">Paul Clarke</a></li>
      </ul>
    </div>
    <div id="privacy">
      <h2>Privacy / security</h2>
      <ul>
        <li>Google ads and other advertisers may set cookies, this page does not</li>
      </ul>
    </div>
  </body>
</html>
